<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="workstation id=akhildata.mssql.somee.com;packet size=4096;user id=akhilpathania_SQLLogin_2;pwd=dub8h6ngjm;data source=akhildata.mssql.somee.com;persist security info=False;initial catalog=akhildata;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true"  targetFramework="4.0"/>
    <pages enableEventValidation="false"></pages>
	</system.web>
</configuration>
